        body {
            background-color:blanchedalmond     
        }
        
        img {
            width: 200px;
            border-radius: 225px;
        }

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .Perfil {
            display: flex;
            flex-direction: row;
            justify-content: baseline;
            align-items: center;
            gap: 20px;
        }